.character-container {
  width: 100vw;
  display: flex;
}

.character {
  width: 60%;
  margin: 5rem auto;
  padding: 1rem 0;

  border: 1px solid #22222236;
  border-radius: .5rem;
}

.character img {
  width: 100%;
  height: 20rem;
  object-fit: contain;
}

.character .information {
  width: 100%;
  padding: 1rem 5.3rem;
}

.information h1, p, h5, span, a{
  font-family: Rubik, sans-serif;
  color: #232323;  
}

.information span {
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;

  text-transform: uppercase;
  color: #444;
  line-height: 2rem;

}

.information h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.information p {
  font-size: 1.5rem;
}

